<h1>収入項目編集ページ</h1>

<%= form_with model: @basic_income_record do |f| %>
  <%= f.date_field :registerdate %>
  <%= f.number_field :money %>
  <%= f.text_field :memo %>
  <%= f.collection_radio_buttons :basic_income_category_id, BasicIncomeCategory.all, :id, :name %>
  <%= f.submit "編集" %>
<% end %>
