<h1>BasicIncomeRecord#edit</h1>

<%= form_with model: @basic_income_record do |f| %>
  <%= f.date_field :date %>
  <%= f.number_field :money %>
  <%= f.text_field :memo %>
  #ここにカテゴリを引っ張ってくる#
  <%= f.submit "Create" %>
<% end %>
