<h1>基本項目の収入一覧</h1>

<% @basic_income_records.each do |basic_income_record| %>
  <%= basic_income_record.registerdate %>
  <%= basic_income_record.money %>円
  <%= basic_income_record.memo %>
  <%= basic_income_record.basic_income_category_id %>
  
  <%= link_to "Show", basic_income_record_path(basic_income_record) %>
  <%= link_to "Edit", edit_basic_income_record_path(basic_income_record) %>
  <%= link_to "Delete", basic_income_record_path(basic_income_record), method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
<% end %>
