<h1>BasicIncomeRecord#index</h1>

<% @basic_income_records.each do |basic_income_record| %>
  <%= basic_income_record.date %>
  <%= basic_income_record.money %>
  <%= basic_income_record.category_id %>
  <%= basic_income_record.memo %>
  
  <%= link_to "Show", basic_income_record_path(basic_income_record) %>
  <%= link_to "Edit", edit_basic_income_record_path(basic_income_record) %>
  <%= link_to "Delete", basic_income_record_path(basic_income_record), method: :delete, data: { confirm: 'Are you sure?' } %>
  
<% end %>
