<%= render partial: 'layouts/header' %>
  <div class="record_container">
    
   <div class="simple_calendar card" style="margin-top: 20px;">
     <div class="card-header" style="text-align: center; font-weight: bold;">
          カレンダー
     </div>

      <%= month_calendar events: @flatten_records do |date, flatten_records| %>
        <%= date.day %>
        <br>
        <% flatten_records.each do |flatten_record| %>
            <% if flatten_record[:basic_income_category_id].present? %>
              <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= flatten_record.money %>円
                  <%= flatten_record.basic_income_category.name %>
                </button>
                <div class="dropdown-menu">
                  <%= link_to "編集", edit_basic_income_record_path(flatten_record.id), class:"dropdown-item" %>
                  <%= link_to "削除", basic_income_record_path(flatten_record), class:"dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            <% elsif flatten_record[:original_income_category_id].present? %>
              <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= flatten_record.money %>円
                  <%= flatten_record.original_income_category.name %>
                </button>
                <div class="dropdown-menu">
                  <%= link_to "編集", edit_original_income_record_path(flatten_record.id), class:"dropdown-item" %>
                  <%= link_to "削除", original_income_record_path(flatten_record), class:"dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            <% elsif flatten_record[:basic_expense_category_id].present? %>
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= flatten_record.money %>円
                  <%= flatten_record.basic_expense_category.name %>
                </button>
                <div class="dropdown-menu">
                  <%= link_to "編集", edit_basic_expense_record_path(flatten_record.id), class:"dropdown-item" %>
                  <%= link_to "削除", basic_expense_record_path(flatten_record), class:"dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            <% elsif flatten_record[:original_expense_category_id].present? %>
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= flatten_record.money %>円
                  <%= flatten_record.original_expense_category.name %>
                </button>
                <div class="dropdown-menu">
                  <%= link_to "編集", edit_original_expense_record_path(flatten_record.id), class:"dropdown-item" %>
                  <%= link_to "削除", original_expense_record_path(flatten_record), class:"dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            <% end %>
            <br>
        <% end %>
      <% end %>
    </div>
    

    <div class="sum_report" >
      <div class="simple_calendar card" style="margin-top: 20px;">
        <div class="card-header" style="text-align: center; font-weight: bold;">
          収支結果:<%= @this_year %>年<%= @this_month %>月
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <div class="container">
              <div class="row">
                <div class="col-sm">収入</div>
                <div class="col-sm"></div>
                <div class="col-sm">支出</div>
                <div class="col-sm"></div>
                <div class="col-sm">合計</div>
              </div>
              <div class="row">
                <div class="col-sm p-3 mb-2 bg-warning text-dark"><%= @flatten_income_records.sum { |hash| hash[:money]} %>円</div>
                <div class="col-sm p-3 mb-2 bg-white text-dark">ー</div>
                <div class="col-sm p-3 mb-2 bg-danger text-white"><%= @flatten_expense_records.sum { |hash| hash[:money]} %>円</div>
                <div class="col-sm p-3 mb-2 bg-white text-dark">＝</div>
                <div class="col-sm p-3 mb-2 bg-white text-dark">
                  <% if @sum_records < 0 %>
                   <p style="color: red;"><%= @sum_records %>円</p>
                  <% else %>
                   <%= @sum_records %>円
                  <% end %>
                </div>
              </div>
            </div>
          </blockquote>
        </div>
      </div>
 
    </div>
    <%= link_to ">>戻る", mypage_show_path %>

  </div>