<%= render partial: 'layouts/header' %>
<div class="record_container">
<h1>収入登録しよう！！</h1>

<%= form_with model: @income_record do |f| %>
  <p>
    <%= label_tag :registerdate, '◆日付：' %>
    <%= f.date_field :registerdate %>
  </p>
  <p>
    <%= label_tag :money, '◆金額：' %>
    <%= f.number_field :money %>
  </p>
  <p>
    <%= label_tag :memo, '◆MEMO：' %>
    <%= f.text_field :memo %>
  </p>
  <P>
    <%= label_tag :income_category_id, '◆収入科目：' %>
    <br />
    <p>・基本科目</p>
    <%= f.collection_radio_buttons :basic_income_category, BasicIncomeCategory.all, :id, :name, {id: "basic_income_group"}, disabled: false, onclick: "basicfunc()" %>
    <br />
    <p>・オリジナル追加科目</p>
    <%= f.collection_radio_buttons :original_income_category, OriginalIncomeCategory.all, :id, :name, {id: "original_income_group"}, disabled: false, onclick: "originalfunc()" %>
  </P>
  <P>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </P>
  
  <%= f.submit '登録1', id: "bir", class:"btn btn-outline-primary" %>
  <%= f.submit '登録2', id: "oir", class:"btn btn-outline-primary" %>
<% end %>

  <script>
       document.getElementById("bir").style.display ="none";
  　　　 document.getElementById("oir").style.display ="none";;
     //basic_income_catgeoryを押したとき！！-->
      var basicfunc = function(){
          var oic = document.querySelectorAll('[id^="income_record_original"]');
            for (var i = 0; i < oic.length; i++) {
               oic[i].disabled = true; 
            }//original_income_categoryをdisabledする
        //basic_income_record専用のbuttonを表示する
        const p1 = document.getElementById("bir");
        if(p1.style.display=="block"){
    		    p1.style.display ="none";
    	   }else{
    		  	p1.style.display ="block";
    	   };
  	   };
  	   
      //original_income_categoryを押したとき
       var originalfunc = function(){
         var bic = document.querySelectorAll('[id^="income_record_basic"]');
           for (var i = 0; i < bic.length; i++) {
             bic[i].disabled = true; 
           }//basic_income_categoryをdisabledする
    　   //original_income_record専用のbuttonを表示する
     　  const p2 = document.getElementById("oir");
	 　　 if(p2.style.display=="block"){
		　　   p2.style.display ="none";
	 　　　  }else{
		　　　	p2.style.display ="block";
	 　　  };
       };
   </script>
  </div>
  			